/* =============
html, body
================*/
html, body {
	height: 100%;
}

body {
	color: grey;
}
h1,h2,h3,h4,h5,h6 {
 font-family: "Raleway", sans-serif; 
}

p {
	font-family: "Open Sans" sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px; 
}

section {
	background: white;
	overflow: hidden;
}

/* =============
Preloader
================*/
#preloader {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#status {
  background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/* =============
Home Section
================*/
#home {
	background: none;
	height: 100%;
	z-index: 1;
}

#home-bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/bg-videoimg.png") no-repeat;
    background-size: cover;
}

#home-overlay {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#home-content {
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
	color: white;
	font-size: 70px;
	font-weight: 100%;
	margin: 0;
	display: inline-block;
}

#home-heading h1 span {
    color: white;
	font-weight: 500;
}

#home-text p {
	color: white;
	font-size: 17px;
	font-weight: 100;
	margin: 8px 0 30px 0;
}

/* ===================================
Buttons 
====================================*/
.btn-outline-success { 
font-family: 'Raleway', sans-serif;
border-radius: 50px;
font-size: 13px;
text-transform: uppercase;
margin: 0 6px;
padding: 12px 46px 12px 46px;
-webkit-transition: all .5s;
transition: all .5s;
}

#home-btn2 {
	margin-top: 15px;
}
.btn-general {
    font-family: 'Raleway', sans-serif;
    background-color: none;
    border: 1px solid #212226;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}


/* ===================================
About Section
====================================*/

.content-box-lg {
	padding: 120px 0;
}

.content-box-md {
	padding: 100px 0;

}

.vertical-heading h5 {
	color: #290a59;
	font-size: 14px;
	font-weight: 500;
	transform: uppercase;
	word-spacing: 9px;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
	top: 60px;
	left: -40px;
}
.vertical-heading h2 {
	margin: 0 0 0 30px;
	font-size: 42px;
	font-weight: 100;
	line-height: 45px;
}

#about-right p:first-child {
	margin-bottom: 30px;
	margin-top: 30px;
}

#about-bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#about-2 {
	background-color: #f6f6f6; 
}

.about-item {
	background-color: white;
	padding: 80px 30px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .2); 
	box-shadow: 0 0 10px rgba(0,0,0, .2);
	color: black;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.about-item hr {
	width: 200px;
	height: 3px;
	background-color: #290a59;
	margin: 0 auto;
	border: none;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.about-item p {
	margin-top: 20px;

}
.about-item img {
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Hover */
.about-item:hover {
	background-color: #290a59;
	color: white;
}
.about-item:hover hr {
	background-color: white;
}
.about-item:hover img {
	transform: translateY(-30px);
}

/* Statement */
#statement {
	background: none;
} 

#start_section {
	background-color: white; 
}

/* =========================================
Footer
============================================ */
footer {
	background: grey;
	padding: 30px;
    height: 100px;
    bottom: 0;
    width: 100%;

}
footer p {
	color: white;
	line-height: 20px;
}
footer p span{
	color: #f4c613;
}

/* =========================================
Contact
============================================ */


/* Contact Left */

#contact-left p {
    margin: 25px 0 20px 0;
}

ul.office-details {
    list-style: none;
    padding: 0;
}

ul.office-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

ul.office-details li i {
    font-size: 20px;
    width: 45px;
}

/* Contact Right */

#contact-right {
    padding: 25px 30px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#contact-right h4 {
    font-size: 24px;
}

#contact-right p {
    margin-bottom: 25px;
}

#contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

#contact-right form textarea.form-control {
    min-height: 164px;
}


/* The Quizz */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

.container_start {
  width: 800px;
  max-width: 80%;
  background-color: white;
  display: contents;
  text-align: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn-a {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn-a:hover {
  border-color: black;
}

.btn-a.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn-a.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}